<section class="relative z-[1] pt-[40px] md:pt-[100px]">
	<img src="img/decor-line-black.png" class="absolute w-full h-[50px] top-[140px] left-0 right-0 hidden md:block z-[-1]" />
	<img src="img/decor-line-black.png" class="absolute w-full h-[25px] top-[60px] left-0 right-0 block md:hidden z-[-1]" />

	<div class="container">
		<a class="pt-28" id="specifications"></a>
		<h2 class="text-h2 inline-block bg-white">Характеристики</h2>

		<div class="flex flex-col md:flex-row justify-center w-fit mx-auto">
			<div class="px-10">
				<div class="flex gap-5 relative">
					<div class="absolute md:relative h-full md:h-auto -left-12 md:left-0 flex flex-col justify-between gap-y-2 pt-6 sm:pt-10 pb-16 sm:pb-20">
						<span class="flex-grow w-2.5 border-l border-t border-black ml-4 sm:mx-auto"></span>
						<span class="text-center text-xs sm:text-base">1&nbsp;995<br class="block sm:hidden"> mm</span>
						<span class="flex-grow w-2.5 border-l border-b border-black ml-4 sm:mx-auto"></span>
					</div>
					<div>
						<img src="img/characteristics/1.png" alt="ALT">
						<div class="flex items-center justify-between gap-x-2 w-[65%] mx-auto mb-3">
							<span class="flex-grow h-2.5 border-l border-b border-black mx-auto"></span>
							<span class="mt-2 text-xs sm:text-base">1&nbsp;490&nbsp;mm</span>
							<span class="flex-grow h-2.5 border-r border-b border-black mx-auto"></span>
						</div>
						<div class="flex items-center justify-between gap-x-2 w-[78%] mx-auto">
							<span class="flex-grow h-2.5 border-l border-b border-black mx-auto"></span>
							<span class="mt-2 text-xs sm:text-base">1&nbsp;740&nbsp;mm</span>
							<span class="flex-grow h-2.5 border-r border-b border-black mx-auto"></span>
						</div>
					</div>
				</div>
			</div>
			<div class="px-10">
				<img src="img/characteristics/2.png" class="mx-auto" alt="ALT">
				<div class="flex items-center justify-between gap-x-2 w-[63%] mx-auto mb-3">
					<span class="flex-grow h-2.5 border-l border-b border-black mx-auto"></span>
					<span class="mt-2 text-xs sm:text-base">1&nbsp;340&nbsp;mm</span>
					<span class="flex-grow h-2.5 border-r border-b border-black mx-auto"></span>
				</div>
			</div>
		</div>

		<div class="lg:mt-10 w-fit mx-auto">
			<img src="img/characteristics/3.png" class="mx-auto" alt="ALT">
			<div class="flex items-center justify-between gap-x-2 w-[50%] mx-auto mb-3">
				<span class="flex-grow h-2.5 border-l border-b border-black mx-auto"></span>
				<span class="mt-2 text-xs sm:text-base">2&nbsp;615&nbsp;mm</span>
				<span class="flex-grow h-2.5 border-r border-b border-black mx-auto"></span>
			</div>
			<div class="flex items-center justify-between gap-x-2 w-[95%] mx-auto">
				<span class="flex-grow h-2.5 border-l border-b border-black mx-auto"></span>
				<span class="mt-2 text-xs sm:text-base">5&nbsp;160&nbsp;(5&nbsp;115)&nbsp;mm</span>
				<span class="flex-grow h-2.5 border-r border-b border-black mx-auto"></span>
			</div>
		</div>

	</div>

	<div class="container px-0 sm:px-4 mt-5">
		<div class="mx-auto grid grid-cols-2 md:grid-cols-4 bg-black md:bg-white md:text-black text-white rounded-tl-3xl sm:rounded-br-3xl pb-8 gap-x-4">
			<div class="text-center mt-8">
				<div class="flex items-center h-[70px] fill-white md:fill-black text-center mb-4">
					<img src="img/characteristics/icons/1.svg" class="svg h-auto max-h-[70px] w-[60px] mx-auto"/>
				</div>
				<h4 class="text-xs md:text-base uppercase mb-1.5">Коробка передач</h4>
				<p class="font-light text-3xl md:text-4xl">6 MT</p>
			</div>
			<div class="text-center mt-8">
				<div class="flex items-center h-[70px] fill-white md:fill-black text-center mb-4">
					<img src="img/characteristics/icons/2.svg" class="svg h-auto max-h-[70px] w-[60px] mx-auto"/>
				</div>
				<h4 class="text-xs md:text-base uppercase mb-1.5">Топливный бак</h4>
				<p class="font-light text-3xl md:text-4xl">60 л</p>
			</div>
			<div class="text-center mt-8">
				<div class="flex items-center h-[70px] fill-white md:fill-black text-center mb-4">
					<img src="img/characteristics/icons/3.svg" class="svg h-auto max-h-[70px] w-[60px] mx-auto"/>
				</div>
				<h4 class="text-xs md:text-base uppercase mb-1.5">Водительская категория</h4>
				<p class="font-light text-3xl md:text-4xl">B</p>
			</div>
			<div class="text-center mt-8">
				<div class="flex items-center h-[70px] fill-white md:fill-black text-center mb-4">
					<img src="img/characteristics/icons/4.svg" class="svg h-auto max-h-[70px] w-[60px] mx-auto"/>
				</div>
				<h4 class="text-xs md:text-base uppercase mb-1.5">Техническое обслуживание</h4>
				<p class="font-light text-3xl md:text-4xl">3 года</p>
			</div>
		</div>
	</div>

	<div class="container">

		<div class="rounded-tl-2xl border border-black mt-5 overflow-hidden block sm:hidden text-xs sm:text-base">
			<div class="characteristics-toggle-whow-more-btn">
				<span class="uppercase font-bold">Подробные характеристики</span>
				<button class="w-5 h-5 flex items-center">
					<img src="img/characteristics/icons/plus.svg" class="svg plus" />
					<img src="img/characteristics/icons/minus.svg" class="svg minus" />
				</button>
			</div>
		</div>

		<div class="hidden sm:grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-5 items-start" id="characteristics-block">

			{% for ch in site.data.characteristic %}
			<div class="rounded-tl-2xl border border-black mt-5 overflow-hidden text-xs sm:text-base">
				<div class="characteristics-toggle-btn">
					<span class="uppercase leading-[1.2] pr-5">{{ch.title}}</span>
					<button class="w-5 h-5 flex items-center flex-shrink-0">
						<img src="img/characteristics/icons/plus.svg" class="svg plus" />
						<img src="img/characteristics/icons/minus.svg" class="svg minus" />
					</button>
				</div>
				<div class="px-2.5 py-2 flex flex-col relative">
					<button class="characteristics-close-btn w-5 h-5 flex items-center rotate-45 absolute right-2 bottom-2">
						<img src="img/characteristics/icons/plus.svg" class="svg plus w-full h-full"/>
					</button>
					{% for d in ch.data %}
					<div>
						{% if d.name %}
						<p class="font-normal underline">{{ d.name }}</p>
						{% endif %}
						<h4 class="">{{ d.descr }}</h4>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}

		</div>

		<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-x-5 items-start">
			<a href="./characteristics.pdf" download class="btn bg-black text-white py-4 text-xs sm:text-base mt-5">Скачать PDF</a>
		</div>

	</div>

</section>