<section class="relative pt-[40px] md:pt-[100px]">
	<img src="img/decor-line-black.png" class="absolute w-full h-[50px] top-[140px] left-0 right-0 hidden md:block z-[-1]" />
	<img src="img/decor-line-black.png" class="absolute w-full h-[25px] top-[60px] left-0 right-0 block md:hidden z-[-1]" />
	<div class="container">
		<a class="pt-28" id="complectation"></a>
		<h2 class="text-h2 inline-block bg-white">Комплектации</h2>

		<div class="grid-cols-2 mt-5 mx-auto hidden sm:grid">
			{% for item in site.data.models %}
			<div class="text-center text-xs sm:text-base mx-4">
				<a href="#common-modal-with-img" class="popup-link" data-caption="{{ item.data-caption }}" data-excerpt="{{ item.data-excerpt }}" data-form="Узнать подробнее про {{ item.title }}">
					<img src="{{ item.image | relative_url }}" alt="{{ item.title }}" class="max-w-full mx-auto my-8">
					<h5 class="text-2xl">{{ item.title }}</h5>
				</a>
			</div>
			{% endfor %}
		</div>

		<div class="swiper complectations-slider mt-5 hidden">
			<div class="swiper-wrapper">
				{% for item in site.data.models %}
				<div class="swiper-slide">
					<div class="text-center text-xs sm:text-base mx-4">
						<a href="#common-modal-with-img" class="popup-link" data-caption="{{ item.data-caption }}" data-excerpt="{{ item.data-excerpt }}" data-form="Узнать подробнее про {{ item.title }}">
							<img src="{{ item.image | relative_url }}" alt="{{ item.title }}" class="max-w-full mx-auto my-8">
							<h5 class="text-lg leading-tight min-h-[45px] px-4">{{ item.title }}</h5>
						</a>
					</div>
				</div>
				{% endfor %}
			</div>
			<div class="flex justify-between absolute w-full bottom-3.5 z-[1]">
				<div class="swiper-complectations-button-prev w-8 h-10 flex items-center">
					<img src="img/icons/left.svg" />
				</div>
				<div class="swiper-complectations-button-next w-8 h-10 flex items-center">
					<img src="img/icons/right.svg" />
				</div>
			</div>
		</div>

	</div>

	{%- include modals/common-modal-with-img.html -%}

</section>