<section class="relative pt-[40px] md:pt-[100px]">
	<img src="img/decor-line-black.png" class="absolute w-full h-[50px] top-[140px] left-0 right-0 hidden md:block z-[-1]" />
	<img src="img/decor-line-black.png" class="absolute w-full h-[25px] top-[60px] left-0 right-0 block md:hidden z-[-1]" />
	<div class="container">
		<a class="pt-28" id="exterior"></a>
		<h2 class="text-h2 inline-block bg-white">Экстерьер</h2>
	</div>
	<div class="container px-0 md:px-4">

		<div class="swiper exterior-slider mt-5 md:mt-12 rounded-tl-[50px] md:rounded-tl-[100px]">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="img/sliders/exterior/1.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/sliders/exterior/2.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/sliders/exterior/3.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/sliders/exterior/4.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/sliders/exterior/5.jpg" alt="">
				</div>
			</div>
		</div>

		<div class="swiper exterior-thumbs-slider hidden md:block">
			<div class="swiper-wrapper">
				<div class="swiper-slide transition-opacity opacity-50 cursor-pointer">
					<img src="img/sliders/exterior/thumbs/1.jpg" alt="">
				</div>
				<div class="swiper-slide transition-opacity opacity-50 cursor-pointer">
					<img src="img/sliders/exterior/thumbs/2.jpg" alt="">
				</div>
				<div class="swiper-slide transition-opacity opacity-50 cursor-pointer">
					<img src="img/sliders/exterior/thumbs/3.jpg" alt="">
				</div>
				<div class="swiper-slide transition-opacity opacity-50 cursor-pointer">
					<img src="img/sliders/exterior/thumbs/4.jpg" alt="">
				</div>
				<div class="swiper-slide transition-opacity opacity-50 cursor-pointer">
					<img src="img/sliders/exterior/thumbs/5.jpg" alt="">
				</div>
			</div>
		</div>

		<div class="flex justify-between md:hidden">
			<div class="swiper-exterior-button-prev w-8 h-10 ml-4 flex items-center">
				<img src="img/icons/left.svg" />
			</div>
			<div class="swiper-exterior-button-next w-8 h-10 mr-4 flex items-center">
				<img src="img/icons/right.svg" />
			</div>
		</div>

	</div>
</section>