<section class="relative z-[1] pt-[40px] md:pt-[100px]">
	<img src="img/decor-line-black.png" class="absolute w-full h-[50px] top-[140px] left-0 right-0 hidden md:block z-[-1]" />
	<img src="img/decor-line-black.png" class="absolute w-full h-[25px] top-[60px] left-0 right-0 block md:hidden z-[-1]" />
	<div class="container">
		<a class="pt-28" id="interior"></a>
		<h2 class="text-h2 inline-block bg-white">Интерьер</h2>
	</div>

	<div class="container px-0 md:px-4">

		<div class="swiper interioir-slider mt-5 md:mt-12 rounded-tl-[50px] md:rounded-tl-[100px]">
			<div class="swiper-wrapper">
				<div class="swiper-slide relative overflow-hidden z-[1]">
					<img src="img/sliders/interior/1.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/sliders/interior/2.jpg" alt="">
				</div>
				<div class="swiper-slide">
					<img src="img/sliders/interior/3.jpg" alt="">
				</div>
				<div class="swiper-slide relative overflow-hidden z-[1]">
					<span class="absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b from-transparent to-black opacity-80"></span>
					<img src="img/sliders/interior/4.jpg" alt="">
					<h3 class="text-white text-xs md:text-lg lg:text-xl uppercase absolute md:max-w-[90%] lg:max-w-[70%] text-center md:text-left right-4 md:right-auto left-4 md:left-5 bottom-4 md:bottom-5 leading-snug translate-y-full opacity-0 transition-all duration-500 z-[2]">Благодаря очечнице в&nbsp;автомобиле вы&nbsp;больше никогда не&nbsp;потеряете свои очки</h3>
				</div>
				<div class="swiper-slide">
					<img src="img/sliders/interior/5.jpg" alt="">
				</div>
			</div>
		</div>

		<div class="swiper interioir-thumbs-slider hidden md:block">
			<div class="swiper-wrapper">
				<div class="swiper-slide transition-opacity cursor-pointer relative opacity-80 z-[1]">
					<span class="slide-overlay absolute top-0 bottom-0 left-0 right-0 bg-black opacity-50"></span>
					<img src="img/sliders/interior/thumbs/1.jpg" alt="">
				</div>
				<div class="swiper-slide transition-opacity cursor-pointer relative opacity-80 z-[1]">
					<span class="slide-overlay absolute top-0 bottom-0 left-0 right-0 bg-black opacity-50"></span>
					<img src="img/sliders/interior/thumbs/2.jpg" alt="">
				</div>
				<div class="swiper-slide transition-opacity cursor-pointer relative opacity-80 z-[1]">
					<span class="slide-overlay absolute top-0 bottom-0 left-0 right-0 bg-black opacity-50"></span>
					<img src="img/sliders/interior/thumbs/3.jpg" alt="">
				</div>
				<div class="swiper-slide transition-opacity cursor-pointer relative opacity-80 z-[1]">
					<span class="slide-overlay absolute top-0 bottom-0 left-0 right-0 bg-black opacity-50"></span>
					<img src="img/sliders/interior/thumbs/4.jpg" alt="">
					<h4 class="hidden lg:block text-white text-base absolute left-5 top-3 transition-all duration-500 leading-tight max-w-[90%]">Удобный интерьер</h4>
				</div>
				<div class="swiper-slide transition-opacity cursor-pointer relative opacity-80 z-[1]">
					<span class="slide-overlay absolute top-0 bottom-0 left-0 right-0 bg-black opacity-50"></span>
					<img src="img/sliders/interior/thumbs/5.jpg" alt="">
				</div>
			</div>
		</div>

		<div class="flex justify-between md:hidden">
			<div class="swiper-interioir-button-prev w-8 h-10 ml-4 flex items-center">
				<img src="img/icons/left.svg" />
			</div>
			<div class="swiper-interioir-button-next w-8 h-10 mr-4 flex items-center">
				<img src="img/icons/right.svg" />
			</div>
		</div>

	</div>
</section>