<div class="fixed w-screen h-screen left-0 top-0 bg-dark bg-opacity-90 z-20 overflow-x-hidden overflow-y-auto hidden modal-overlay" id="message-modal" data-close>
	<div class="modal-content relative top-20 mb-10 left-1/2 translate-x-[-50%] -translate-y-10 transition-all duration-1000 max-w-xl w-full bg-white font-medium text-dark py-8 px-4 sm:p-8">
		<div class="w-10 h-10 flex items-center justify-center absolute right-0 top-0 opacity-50 transition-opacity hover:opacity-100 cursor-pointer rotate-45" data-close><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" data-close>
			<line y1="9.5" x2="20" y2="9.5" stroke="black"/>
			<line x1="9.5" y1="20" x2="9.5" stroke="black"/>
			</svg>
		</div>
		<div class="w-20 h-20 mx-auto mb-10" id="icon"></div>
		<p class="text-center text-lg mb-10"></p>
	</div>
</div>