<div class="scroll-up fixed right-4 md:right-7 bottom-4 md:bottom-7 bg-yellow md:bg-transparent border-2 border-yellow rounded-tl-lg p-2 md:p-3 z-50 cursor-pointer text-white md:text-yellow rounded-br-lg md:rounded-br-none opacity-70 md:opacity-100 transition-all ease-in-out duration-500 hover:rounded-br-lg hover:bg-yellow hover:text-white translate-x-[200%]">
	<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
		<path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5" />
	</svg>
</div>